# extensions
*.egg-info
*.py[cod]

# envs
.pt13
.pt2

# directories
/checkpoints
/dist
/outputs
/build
/src
.ipynb_checkpoints

logs/
logs_viz/
logs_sampling/
lightning_logs/
logs_sampling_control
notebooks/*

sample/*
bash_scripts/*
data/*
.vscode/*